<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto mt-24 p-4 flex">
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/angular.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Angular</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Javascript Framework</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/vuejs.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">VueJS</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Javascript Framework</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/nodejs.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">NodeJS</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Javascript Framework</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/express.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">ExpressJS</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Javascript Framework</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/socketio.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Socket IO</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Javascript Framework</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/laravel.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Laravel</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">Javascript Framework</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/postman.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Postman</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">A Tool to make API calls</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/vscode.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Visual Studio Code</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">An Advanced Code Editor</span>
    </div>
  </div>
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6">
    <div class="flex flex-col items-center pb-10 mt-6">
      <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/assets/logos/phpstorm.png" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">PHPStorm</h5>
      <span class="text-sm text-gray-500 dark:text-gray-400">An Advanced IDE For Full Stack Development</span>
    </div>
  </div>
</div>
