<div class="grid grid-cols-3 gap-3">
    <div class="max-w-sm p-5 mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="w-24 h-24 relative">
        <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 24 24">
          <circle class="stroke-current text-gray-300" cx="12" cy="12" r="10" stroke-width="4" fill="none"></circle>
          <circle class="stroke-current text-blue-500" cx="12" cy="12" r="10" stroke-width="4" fill="none" stroke-dasharray="62.83" stroke-dashoffset="50"></circle>
        </svg>
        <span class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-blue-500 font-semibold text-lg">Angular</span>
      </div>
      
      </div>
      <div class="max-w-sm p-5 mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="w-24 h-24 relative">
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 24 24">
            <circle class="stroke-current text-gray-300" cx="12" cy="12" r="10" stroke-width="4" fill="none"></circle>
            <circle class="stroke-current text-blue-500" cx="12" cy="12" r="10" stroke-width="4" fill="none" stroke-dasharray="62.83" stroke-dashoffset="50"></circle>
          </svg>
          <span class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-blue-500 font-semibold text-lg">50%</span>
        </div>
        
      </div>
      <div class="max-w-sm p-5 mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="w-24 h-24 relative">
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 24 24">
            <circle class="stroke-current text-gray-300" cx="12" cy="12" r="10" stroke-width="4" fill="none"></circle>
            <circle class="stroke-current text-blue-500" cx="12" cy="12" r="10" stroke-width="4" fill="none" stroke-dasharray="62.83" stroke-dashoffset="50"></circle>
          </svg>
          <span class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-blue-500 font-semibold text-lg">50%</span>
        </div>
        
      </div>
  </div>
    
      